/* STYLEGUIDE V3 */
/* PROJET PROMOTE.COM */
/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');

/* CONFIG */

:root, body, *{
    margin: 0 0;
    padding: 0 0;
}

body{
    max-width: 100vw;
    overflow-x: hidden;
}

*{

    font-family: Noto Sans, sans-serif;
}

a{
    color: #292930;
    text-decoration-line: none;
}

h1 span, h2 span, h3 span, h4 span, h5 span, h6 span{
    font-family: Nunito, sans-serif;
}


/* SECTION */

.section-spacing{
    padding : 150px 15vw;
    width: calc(100vw - 30vw);
}

@media screen and (max-width: 1550px) {
    .section-spacing{
        padding : 150px 5vw;
        width: calc(100vw - 10vw);
    }
}
@media screen and (max-width: 1550px) {
    .section-spacing{
        padding : 70px 5vw;
        width: calc(100vw - 10vw);
    }
}

/* WRAPPER */

.section-wrapper{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto 0 auto;
}

.wrapper{
    position: relative;
}

.image-wrapper{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dynamic-card-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-wrapper{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
}

@media screen and (max-width: 1024px) {
    .image-wrapper{
        justify-content: flex-start !important;
        align-items: flex-end !important;
    }
}

@media screen and (max-width: 768px) {
    .heading-wrapper-1{
        flex-direction: column;
    }
    .button-wrapper{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
}


/* BACKGROUND COLOR */

.background-color-black{
    background-color: #292930;
    color: white;
}

.background-color-grey{
    background-color: #F2F2F2;
}

.background-color-yellow{
    background-color: #FFF3CA;
}

.background-color-blue{
    background-color: #E9F7FF;
}

.background-color-red{
    background-color: #FFDBD4;
}

.background-color-darkgrey{
    background-color: #3C3C45;
}
.background-color-white{
    background-color: white;
}

.background-gradient-softBlack{
    background: rgb(54,54,62);
    background: linear-gradient(180deg, rgba(54,54,62,1) 0%, rgba(41,41,48,1) 100%);
    border: 1px solid #424245;
}

.background-gradient-blueToYellow{
    background: rgb(89,86,232);
    background: linear-gradient(133deg, rgba(89,86,232,1) 0%, rgba(89,86,232,1) 25%, rgba(255,218,87,1) 75%, rgba(255,218,87,1) 100%);
}

.background-gradient-blueToYellow-pastel{
    background: rgb(233,247,255);
    background: linear-gradient(140deg, rgba(233,247,255,1) 0%, rgba(255,219,212,1) 50%, rgba(255,243,202,1) 100%);
}

.background-gradient-pinkToBlue-pastel{
    background: rgb(255,248,248);
    background: linear-gradient(140deg, rgba(255,248,248,1) 0%, rgba(245,247,255,1) 100%);
}

.background-gradient-faq{
    background: rgb(233,247,255);
    background: linear-gradient(140deg, rgba(233,247,255,1) 0%, rgba(255,219,212,1) 20%, rgba(255,243,202,1) 40%);

}

/* TEXT COLOR */

.text-color-yellow{
    color: #FFDC60;
}
.text-color-blue{
    color: #5956E8;
}
.text-color-red{
    color: #FF1850;
}
.text-color-green{
    color: #38E55E;
}
.text-color-black{
    color: #292930;
}
.text-color-darkgrey{
    color : #555555;
}
.text-color-lightgrey{
    color:#D0D0D0;
}
.text-color-white{
    color: white;
}

/* TEXT DECORATION */
.text-underline{
    text-decoration: underline;
}

/* TEXT-SIZE */ 
.text-nowrap{
    text-wrap: nowrap;
}

/* HEADING */

.heading-huge{
    font-family: Nunito, sans-serif;
    font-size: 70px;
    font-weight: 800;
}

.heading-large{
    font-family: Nunito, sans-serif;
    font-size: 45px;
    font-weight: 800;
}

.heading-medium{
    font-family: Nunito, sans-serif;
    font-size: 40px;
    font-weight: 600;
}

.heading-small{
    font-family: Nunito, sans-serif;
    font-size: 35px;
    font-weight: 800;
}

.heading-tiny{
    font-family: Nunito, sans-serif;
    font-size: 30px;
    font-weight: 600;
}

.heading-tiny-small{
    font-family: Nunito, sans-serif;
    font-size: 25px;
    font-weight: 600;
}

.heading-micro{
    font-family: Nunito, sans-serif;
    font-size: 20px;
    font-weight: 400; 
}

@media screen and (max-width: 768px) {
    .heading-huge{
        font-size: 50px;
    }
}

/* TEXT & PARAGRAPH */ 

p{
    font-size: 18px;
    font-weight: 400;
}

.text-size-small{
    font-size: 15px;
}

.text-size-large{
    font-size: 25px;
}

.text-size-medium{
    font-size: 20px;
}

.text-align-center{
    text-align: center;
}
.text-align-end{
    text-align: end;
}

.text-uppercase{
    text-transform: uppercase;
}

.letter-spacing-large{
    letter-spacing: 3px;
}

.font-weight-semibold{
    font-weight: 600;
}
.font-weight-bold{
    font-weight: 800;
}


/* BUTTON */

.button{
    font-size: 18px;
    font-family: Nunito, sans-serif;
    padding: 20px 80px;
    border-radius: 10px;
    text-wrap: nowrap;

    display: flex;
    justify-content: center;
    align-items: center;
    }
    .button.black{
        background-color: #292930;
        border: 1px solid #292930;
        color: white;
    }
        .background-color-black .button.black{
            border: 1px solid white;
        }
    .button.white{
        background-color: #FFFFFF;
        border: 1px solid #292930;
        color: #292930;
    }
        .background-color-yellow .button.white, .background-color-blue .button.white{
            border: 1px solid #FFFFFF;
        }
        
    .button.soft{
        background-color: #F6F6F6;
        border: 1px solid #292930;
        color: #292930;
    }
    .button.yellow{
        background-color: #FFDC60;
        border: 1px solid #FFDC60;  
        color: #292930;
    }
    .button.transparent{
        border: 1px solid #535355;
        color: #535355;
    }
    .button.small{
        padding: 20px 40px;
    }

    .button.integrated-icon{
        font-size: 25px;
        font-weight: 600;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
        padding: 20px 15px 20px 15px;    
    }
    
/* TAG */
.tag{
    max-height: 25px;

    font-family: Nunito, sans-serif;
    font-size: 18px;
    font-weight: 600;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px 20px;
    border-radius: 50px;
    border: 1px solid #292930;
}
    .tag.yellow{
        color: #292930;
        background-color: #FFDC60;
        border: 1px solid FFDC60;
    }

/* BANNER IMAGE */

.image-banner{
    width: 100%;
    max-height: 600px;
}

.section-main-image{
    max-width: 480px;
    z-index: 10;
}
    .section-main-image-background{
        position: absolute;
        top: -10%;
        left: -23%;
        width: 200%;
        z-index: -1;
    }

@media screen and (max-width: 1550px) {
    .section-main-image{
        max-width: 30vw;
    }
}
@media screen and (max-width: 1024px) {
    .section-main-image{
        max-width: none;
        width: 50%;
    }
    .section-main-image-background{
        display: none;
    }
}
    

/* HEADER */


.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding : 70px 15vw;
    width: calc(100vw - 30vw);
    height: 80px;
}

    .navbar-logo{
        height: 100%;
        max-width: 240px;
    }

    .navbar-links-wrapper{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

        .navbar-link,.navbar-link-current{
            position: relative;
            font-family: Nunito;
            font-size: 18px;
            font-weight: 600;
            width: fit-content;
        }
            .navbar-link-current{
                position: relative;
                width: fit-content;
            }
                .navbar-link-current::after{
                    content: '';
                    position: absolute;
                    width: 47.5%;
                    height: 3px;
                    bottom: -5px;
                    left: 5%;
                    border-radius: 50px;
                    background-color: #FFDC60;
                    transform-origin: bottom left;
                    transition: transform 0.25s ease-out;
                }
                .navbar-link-current::before{
                    content: '';
                    position: absolute;
                    width: 50%;
                    height: 3px;
                    bottom: -5px;
                    left: 47.5%;
                    border-radius: 50px;
                    background-color: #5956E8;
                    transform-origin: bottom left;
                    transition: transform 0.25s ease-out;
                }



        .navbar-link::after{
            content: '';
            transform: scaleX(0);
            position: absolute;
            width: 90%;
            height: 3px;
            bottom: -5px;
            left: 5%;
            border-radius: 50px;
            background-color: #FFDC60;
            transform-origin: bottom left;
            transition: transform 0.25s ease-out;
        }
            .navbar-link:hover::after{
                transform: scaleX(1);
                transform-origin: bottom left;
            }

/* FOOTER */

.footer-grid-wrapper{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    grid-column-gap: 100px;
    grid-row-gap: 0px;
}
@media screen and (max-width: 1024px){
    footer .display-grid-3col-1row-111{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
    }
}
@media screen and (max-width: 768px){
    .footer-grid-wrapper{
        display: flex;
        flex-direction: column;
        gap: 70px;
        align-items: center;
        justify-content: center;
    }
}


/* ICONE */

.icon{
    
    position: relative;

    min-width: 88px;
    width: 88px;
    min-height: 88px;
    height: 88px;
    border-radius: 100%;
    background-color: red;

    display: flex;
    justify-content: center;
    align-items: center;

}

    .icon.black{
        background-color: #292930;
    }
    .icon.blue{
        background-color: #5956E8;
    }
    .icon.yellow{
        background-color: #FFDC60;
    }
    .icon.white{
        background-color: white;
        border: 1px solid #CCCCCC;
    }
    .icon.pink{
        background-color: #F5B7FF;
    }
    .icon.purple{
        background-color: #CA87FF;
    }
    .icon.orange{
        background-color: #F96A4B;
    }
    .icon.green{
        background-color: #93E1A4;
    }

    .icon.huge{
        min-width: 150px;
        width: 150px;
        min-height: 150px;
        height: 150px;
    }
    .icon.tiny{
        min-width: 46px;
        width: 46px;
        min-height: 46px;
        height: 46px;
    }

    .icon.pink-stroke{
        border: 9px solid #FFD1C8;
    }

    .icon .image{
        width: 50%;
    }
    .icon .medium-image{
        width: 40%;
    }
    .icon .small-image{
        width: 30%;
    }
    .icon .tiny-image{
        width: 20%;
    }

.icon-contact{
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}  
    .icon-contact.mail{
        background-image: ;
    }
    .icon-contact.tel{
        background-image: ;
    }
    .icon-contact.map{
        background-image: ;
    }

.icon-social{
    height: 25px;
    width: 25px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
    .icon-social-insta{
        background-image: url(content/PNG/social-insta.svg);
    }
    .icon-social-facebook{
        background-image: url(content/PNG/social-facebook.svg);
    }
    .icon-social-twiter{
        background-image: url(content/PNG/social-twiter.svg);
    }
    .icon-social-linkedin{
        background-image: url(content/PNG/social-linkedin.svg);
    }



/* IMAGES */

.image-tiny-icon{
    min-width: 15px;
    width: 15px;
    min-height: 15px;
    height: 15px;
}

.image-tiny{
    min-width: 50px;
    width: 50px;
    min-height: 50px;
    height: 50px;
}

/* MARGIN */

.margin-top-auto{
    margin-top: auto;
}

.margin-top-tiny{
    margin-top: 15px;
}

.margin-top-small{
    margin-top: 35px;
}

.margin-top-auto{
    margin-top: auto;
}

.margin-top-medium{
    margin-top: 65px;
}

.margin-top-huge{
    margin-top: 150px;
}

.margin-bottom-tiny{
    margin-bottom: 15px
}

.margin-left-tiny{
    margin-left: 40px;
}
.margin-left-medium{
    margin-left: 65px;
}



@media screen and (max-width: 1024px) {
    .margin-left-medium{
        margin-left: 0px;
    }
}

/* PADDING */

.padding-micro{
    padding: 15px;
}
.padding-tiny{
    padding: 30px;
}
.padding-small{
    padding: 60px;
}
.padding-medium{
    padding: 85px;
}
.padding-large{
    padding: 140px;
}

@media screen and (max-width: 1550px){
    .padding-tiny{
        padding: 15px;
    }
    .padding-small{
        padding: 30px;
    }
    .padding-medium{
        padding: 50px;
    }
    .padding-large{
        padding: 70px;
    }
}
@media screen and (max-width: 1550px){
    .padding-small{
        padding: 20px;
    }
    .padding-medium{
        padding: 25px;
    }
    .padding-large{
        padding: 30px;
    }
}

/* BORDER */

.border-light{
    border: 1px solid black;
}
    .border-light.white{
        border: 1px solid white;
    }
    .border-light.grey{
        border: 1px solid #E2E2E2;
    }

.border-semidbold{
    border: 2px solid black;
}
    .border-light.white{
        border: 2px solid white;
    }

.border-bold{
    border: 3px solid black;
}
    .border-light.white{
        border: 3px solid white;
    }

.border-radius-light{
    border-radius: 10px;
}

.border-radius-medium{
    border-radius: 15px;
}

.border-radius-big{
    border-radius: 30px;
}

/* POSITION */
.position-absolute{
    position: absolute;
}

/* DISPLAY GRID */

.display-grid{
    display: grid;
}

/* DISPLAY FLEX*/

.display-flex{
    display: flex;
}

/* FLEX DIRECTIONS */

.flex-column{
    flex-direction: column;
}
.flex-row{
    flex-direction: row;
}

.flex-nowrap{
    flex-wrap: nowrap;
}

/* JUSTIFY */

.justify-start{
    justify-content: start;
}
.justify-center{
    justify-content: center;
}
.justify-end{
    justify-content: flex-end;
}
.justify-between{
    justify-content: space-between;
}
.justify-stretch{
    justify-content: stretch;
}

/* ALIGN */

.align-start{
    align-items: flex-start;
}
.align-center{
    align-items: center;
}
.align-end{
    align-items: flex-end;
}

/* GAP */

.micro-gap{
    gap: 10px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}
.tiny-gap{
    gap: 20px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}
.small-gap{
    gap: 30px;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}
.normal-gap{
    gap: 50px;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    
}
.medium-gap{
    gap: 70px;
    grid-column-gap: 70px;
    grid-row-gap: 70px;
}
.large-gap{
    gap: 100px;
    grid-column-gap: 100px;
    grid-row-gap: 100px;
}
.huge-gap{
    gap: 150px;
    grid-column-gap: 150px;
    grid-row-gap: 150px;
}

@media screen and (max-width: 1024px){
    .medium-gap{
        gap: 50px;
        grid-column-gap: 50px;
        grid-row-gap: 50px;
    }
    .large-gap{
        gap: 60px;
        grid-column-gap: 60px;
        grid-row-gap: 60px;
    }
    .huge-gap{
        gap: 70px;
        grid-column-gap: 70px;
        grid-row-gap: 70px;
    }
}

@media screen and (max-width: 768px){
    .tiny-gap{
        gap: 10px;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }
}

/* DIVIDER */

.divider{
    height: 1px;
    width: 100%;
    background-color: #CCCCCC;
}
.background-color-black .divider{
    background-color: #5D5D63;
}

.mesureing-tape{
    height: 0px;
    width: 100%;
    background-color: transparent;
}

/* SERVICES SECTION */

.card{
    border-radius: 15px;
}

/* BIG WHITE CIRCLE BANNER SECTION */

.section-white-circle-banner {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 180px;
}

    .white-circle-wrapper {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 33vw;
        height: 33vw;
        border-radius:50%;
        margin-bottom: -240px;
        background-color: #F4F6FB;
    }

        .white-circle-faded-pattern{
            z-index: 1;
            position: absolute; 
            top: 6%;
            width: 70%;
            height: 70%;
        }

        .white-circle-heading{
            z-index: 2;
            margin-bottom: 40%;
        }

/* GRID TEMPLATES */

.display-grid-3col-2row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 70px;
    grid-row-gap: 70px;
}

.display-grid-2col-1row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 70px;
    grid-row-gap: 0px;
}

.display-grid-2col-1row-21{
    display: grid;
    grid-template-columns: 2fr 1fr; /** 21 because column template is : 2fr 1fr **/
    grid-template-rows: 1fr;
}

.display-grid-1col-3row {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.display-grid-3col-1row-111{ /** 111 because column template is : 1fr 1fr 1fr **/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr;
}


.display-grid-3col-1row-212{ /** 212 because column template is : 2fr 1fr 2fr **/
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.display-grid-4col-1row{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
}

.display-grid-1col-2row {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

@media screen and (max-width: 1550px){
    .display-grid-3col-2row {
        grid-column-gap: 30px;
        grid-row-gap: 30px;
    }

    .display-grid-2col-1row {
        grid-column-gap: 40px;
    }

    .display-grid-3col-1row-111{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
        .display-grid-3col-1row-111 .grid-child-1 { 
            grid-area: 1 / 1 / 2 / 3; 
            margin: 0 auto 0 auto }
        .display-grid-3col-1row-111 .grid-child-2 { grid-area: 2 / 1 / 3 / 2; }
        .display-grid-3col-1row-111 .grid-child-3 { grid-area: 2 / 2 / 3 / 3; }
    
    
}

@media screen and (max-width: 1024px){
    .display-grid-3col-2row {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 30px;
    }
    .display-grid-2col-1row{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
    }

        .display-grid-2col-1row .grid-child-mobile-top { grid-area: 1 / 1 / 2 / 2; }
        .display-grid-2col-1row .grid-child-mobile-bottom { grid-area: 2 / 1 / 3 / 2; }

    .display-grid-4col-1row{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}

@media screen and (max-width: 768px){
    .display-grid-3col-2row {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 30px;
    }

    .display-grid-3col-1row-111{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
    }

        .display-grid-3col-1row-111 .grid-child-1 { grid-area: 2 / 1 / 3 / 2; margin: 0 0 0 0; }
        .display-grid-3col-1row-111 .grid-child-2 { grid-area: 1 / 1 / 2 / 2; }
        .display-grid-3col-1row-111 .grid-child-3 { grid-area: 3 / 1 / 4 / 2; }
    
    .display-grid-2col-1row{
        grid-row-gap: 40px;
    }

    .display-grid-4col-1row{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }

    .display-grid-2col-1row-21{
        display: flex;
        flex-direction: column;
    }
}



/* MOBILE MEDIA */

@media screen and (max-width: 768px){
    .mobile-heading-wrapper{
        flex-direction: column;
    }
}

/* TO MERGE */

















